:root {
  --black: #000;
  --white: #fff;
  --tint: rgba(255, 255, 255, 0.1);
  --shade: rgba(0, 0, 0, 0.25);
  --primary1: #757de8;
  --primary2: #3f51b5;
  --primary3: #002984;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

/* header */
header {
  position: absolute;
  width: 1200px;
  height: 101px;
  left: 40px;
  top: 0px;
  display: flex;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  left: 0px;
  top: 28px;
  width: 202px;
  height: 28px;
}

.title__brand-name {
  width: 75px;
  height: 28px;
  color: var(--shade);
  flex: none; /*.flex-none*/
  order: 0;
  flex-grow: 0;
}

.title__challenge-name {
  width: 119px;
  height: 28px;
  color: var(--black);
  flex: none; /*.flex-none*/
  order: 1;
  flex-grow: 0;
}

.header__0 {
  display: none;
  width: 9px;
  height: 24px;
  flex: none; /*.flex-none*/
  order: 0;
  flex-grow: 0;
}

.basket {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;
  position: absolute;
  right: 4px;
  top: 48px;
  width: 56px;
  height: 24px;
}

.basket__container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.basket__vector {
  position: absolute;
  left: 4.17%;
  right: 4.17%;
  top: 8.42%;
  bottom: 12.5%;
}

.basket__number {
  width: 24px;
  height: 24px;
  background: var(--shade);
  border-radius: 48px;
  flex: none; /*.flex-none*/
  order: 2;
  flex-grow: 0;
  position: relative;
}

.basket__number-value {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 9px;
  top: -4px;
  font-size: 10px;
  color: var(--white);
}

hr {
  position: absolute;
  height: 1px;
  left: 0%;
  right: 0%;
  bottom: 0px;
  background: var(--shade);
}

/* main */
main {
  position: relative;
  width: 1280px;
  height: 949px;
}

.product__image {
  position: absolute;
  left: 3.12;
  right: 50.94%;
  top: 17.39%;
  bottom: 0%;
}

/* product info section */

/* info section -  product details */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;
  position: absolute;
  left: 652px;
  top: 165px;
  width: 588px;
  height: 488px;
}

.info__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0px;
  width: 588px;
  height: 256px;
  flex: none; /*.flex-none*/
  order: 0;
  flex-grow: 0;
}

.info__details--name {
  width: 588px;
  height: 40px;
  flex: none; /*.flex-none*/
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.info__details--description {
  width: 588px;
  height: 144px;
  flex: none; /*.flex-none*/
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.info__details--cost {
  flex: none; /*.flex-none*/
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

/* info section - stock information */
.info__quantity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 121px;
  height: 68px;
  flex: none; /*.flex-none*/
  order: 1;
  flex-grow: 0;
}

.info__quantity--stock {
  width: 80px;
  height: 12px;
  color: var(--shade);
  flex: none; /*.flex-none*/
  order: 0;
  flex-grow: 0;
}

.info__quantity--controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  width: 121px;
  height: 32px;
  flex: none; /*.flex-none*/
  order: 1;
  flex-grow: 0;
}

.controls__number {
  width: 9px;
  height: 24px;
  margin-top: -1px;
}

.controls__button {
  background: none;
  border: 1px solid var(--primary2);
  border-radius: 50px;
  width: 24px;
  height: 24px;
  flex: none; /*.flex-none*/
  order: 0;
  flex-grow: 0;
  position: relative;
}

.controls__button:active {
  background-color: var(--primary3);
}

.controls__button:hover {
  background-color: var(--primary2);
  border-color: var(--primary2);
}

.controls__button:hover,
.controls__button:active > svg {
  stroke: var(--white);
  fill: var(--white);
}

.controls__button:disabled {
  background-color: transparent;
  border-color: var(--shade);
}

.controls__button:disabled > svg {
  stroke: var(--shade);
  fill: var(--shade);
}

.controls__button:visited {
  border-color: var(--primary2);
}

.controls__button--minus > svg {
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 45.83%;
  bottom: 45.83%;
  pointer-events: inherit;
}

.controls__button--plus > svg {
  position: absolute;
  left: 20.83%;
  right: 20.83%;
  top: 20.83%;
  bottom: 20.83%;
}

.controls--number {
  width: 9px;
  height: 24px;
  flex: none; /*.flex-none*/
  order: 1;
  flex-grow: 0;
}

.button-w-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  color: var(--white);
  background-color: var(--primary3);
  width: 145px;
  height: 36px;
  border-radius: 48px;
  flex: none; /*.flex-none*/
  order: 2;
  flex-grow: 0;
  border: 1px solid var(--primary3);
}

.button-w-text:hover {
  background-color: transparent;
  color: var(--primary2);
}

.button-w-text:visited {
  background-color: var(--primary2);
  border-color: var(--primary2);
}

.button-w-text:active {
  background-color: var(--primary1);
  border-color: var(--primary1);
}

.button-w-text:disabled {
  background-color: var(--shade);
  color: var(--shade);
  border-color: transparent;
}
